.contact {
  padding-bottom: $space-xxl;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-top: $space-lg;
  }

  &__label {
    @extend %form-label;
  }

  &__input {
    @extend %form-input;
  }

  &__button {
    @extend %btn-primary;
  }
}
