.page {
  width: 100%;
  padding-bottom: $space-xl;

  .inner-wrapper {
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;

    @include phone {
      padding-left: $space-md;
      padding-right: $space-md;
    }
  }

  &__inner-wrapper {
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;

    @include phone {
      padding-left: $space-md;
      padding-right: $space-md;
    }
  }

  &__header-wrapper {
    background-color: $bg-wash;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: $space-lg;

    & > div.post {
      max-width: 90ch;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    h1 {
      font-size: 3.75rem;
      font-weight: normal;
    }
  }

  &__content {
    @extend %prose;
    margin-top: $space-xxl;
    max-width: 90ch;

    & > * + * {
      margin-top: 22px;
    }

    p {
      font-size: $text-xl;
    }

    h1,
    h2,
    h3 {
      display: flex;
      align-items: center;
      position: relative;

      a {
        display: inline-block;
        display: flex;
        align-items: center;
        margin-left: $space-sm;
        color: inherit;
      }

      svg {
        fill: currentColor;
        transform: scale(0.7);
      }
    }
  }
}
