<section class="newsletter">
  <div class="wrapper newsletter__wrapper">
    <h2 class="newsletter__heading">Obrigado pela visita</h2>
    <p class="newsletter__body">Escrevo uma vez por mês sobre vários assuntos em minha newsletter, Fuzzy Brain.
    Música, design, antropologia e é claro, design. <a href="#"> Assine agora <a/> </p>
  </div>
</section>
