<section class="newsletter">
  <div class="wrapper newsletter__wrapper">
    <h2 class="newsletter__heading">The best of my fuzzy brain</h2>
    <p class="newsletter__body">A monthly newsletter with a fine selection of experience design articles, book reviews, great music and design jokes</p>
  </div>
</section>
