@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700;900&display=swap');

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'),
    url('/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('/fonts/playfairdisplay-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Bold'),
    url('/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
    url('/fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  line-height: 1.6rem;
  font-family: 'Inter Tight', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: $text-4xl;
}

h2 {
  font-size: $text-3xl;
}

h3 {
  font-size: $text-2xl;
}

h4 {
  font-size: $text-lg;
}
