{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

{% set socialImagePath = socialImage %}
{% if not socialImagePath %}
  {% set socialImagePath = '/images/social-share.jpg' %}
{% endif %}
{% if socialImagePath.indexOf('http') !== 0 %}
  {% set socialImageUrl = site.url + socialImagePath %}
{% else %}
  {% set socialImageUrl = socialImagePath %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="google-site-verification" content="jkCqjD_qbLVJtqPPo3xaLrtO5L-lKv7bGH05VQ9-zeI" />
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="{% if layout == 'layouts/post.njk' %}article{% else %}website{% endif %}" />
<meta property="og:url" content="{{ currentUrl }}" />

<meta name="twitter:card" content="summary_large_image" />
{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% set socialImageWidth = socialImageWidth or 1200 %}
{% set socialImageHeight = socialImageHeight or 630 %}
{% set socialImageAlt = socialImageAlt or metaTitle or pageTitle %}

<meta property="og:image" content="{{ socialImageUrl }}" />
<meta property="og:image:width" content="{{ socialImageWidth }}" />
<meta property="og:image:height" content="{{ socialImageHeight }}" />
<meta property="og:image:alt" content="{{ socialImageAlt }}" />
<meta name="twitter:image" content="{{ socialImageUrl }}" />
<meta name="twitter:image:alt" content="{{ socialImageAlt }}" />

{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}" />
{% endif %}
