{% extends 'layouts/page.njk' %}

{% block head %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": {{ title | dump | safe }},
      "description": {{ metaDesc | dump | safe }},
      "image": "{{ site.url }}{{ socialImage or '/images/social-share.jpg' }}",
      "datePublished": "{{ date | w3DateFilter }}",
      "author": {
        "@type": "Person",
        "name": {{ site.authorName | dump | safe }}
      },
      "publisher": {
        "@type": "Person",
        "name": {{ site.authorName | dump | safe }}
      }
    }
  </script>
{% endblock %}

{% block content %}
  <main id="main-content" tabindex="-1" class="page" >
    <div class="page__header-wrapper">
      <div class="page__inner-wrapper">
        <p class="page__kicker"><a href="/archive">Blog</a></p>
      </div>
    </div>

    <div>
      <div class="inner-wrapper">
        <header>
          <h1>{{title}}</h1>

          <p class="meta-info">
            {% if date %}
              <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | postDate }}</time>
            {% endif %}
            <span>— {{ helpers.getReadingTime(content) }} min de leitura</span>
          </p>
        </header>

        <article>
          <div class="page__content">
            {{ content | safe }}
          </div>

          {% if tags %}
            <footer class="post__footer">
              <h2 class="">Filed under:</h2>
              <ul class="nav__list">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </footer>
          {% endif %}
        </article>
      </div>
    </div>
  </main>
{% endblock %}