{% extends 'layouts/page.njk' %}

{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "description": "{{ metaDesc }}",
  "datePublished": "{{ date | w3DateFilter }}",
  "author": {
    "@type": "Person",
    "name": "Daniel Souza"
  },
  "url": "https://danielsouza.com{{ page.url }}"
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://danielsouza.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Blog",
      "item": "https://danielsouza.com/archive/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ title }}",
      "item": "https://danielsouza.com{{ page.url }}"
    }
  ]
}
</script>
{% endblock %}

{% block content %}
  <main id="main-content" tabindex="-1" class="page" >
    <div class="page__header-wrapper">
      <div class="page__inner-wrapper">
        <h1>Blog</h1>
      </div>
    </div>

    <div>
      <div class="inner-wrapper">
        <header>
          <h2>{{title}}</h2>

          <p class="meta-info">
            {% if date %}
              <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | postDate }}</time>
            {% endif %}
            <span>— {{ helpers.getReadingTime(content) }} min de leitura</span>
          </p>
        </header>

        <article>
          <div class="page__content">
            {{ content | safe }}
          </div>

          {% if tags %}
            <footer class="post__footer">
              <h2 class="">Filed under:</h2>
              <ul class="nav__list">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}/">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </footer>
          {% endif %}
        </article>
      </div>
    </div>
  </main>
{% endblock %}

{{ content | safe }}