---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://danielsouza.com/</loc>
    <lastmod>2026-09-12</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://danielsouza.com/sobre/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://danielsouza.com/archive/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://danielsouza.com/contato/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>https://danielsouza.com{{ post.url }}</loc>
    <lastmod>{{ post.date | w3DateFilter }}</lastmod>
    <changefreq>never</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>
